* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

nav {
    background-image: linear-gradient(to right, #17408B, rgb(7, 7, 179),
      rgb(30, 30, 245)
    
    );
}
nav .logo{
    color: rgb(255, 255, 255);
    font-family: 'Monster', sans-serif;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px; 
}

nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
 
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
}

#check{
    display: none;
}

#titulo{
    color: black;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
    font-family: sans-serif;
    font-weight: bolder;
}
img{
    width: 500px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 30px;
    
}

/* curiosidade*/
.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    text-align: center;
    background-color: whitesmoke;
    width: 400px;
    height: 650px;
    margin: 20px;
}

.card-img{
    background-color: honeydew;
    height: 400px;
    margin-bottom: 15px;
    background-size: cover;
}

.ft1{
    background-image: url('/img/curiosidade1.jpg');   
}
.ft2{
    background-image: url(/img/poulpirce.jpg);
}
.ft3{
    background-image: url(/img/x1.jpg);
}
/* canais de yt */
.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
}
.flex-item{
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
/* flex campeoes */
.div-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.item{
    justify-content: center;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    margin: 30px;
    
    
}
.item :hover{
    cursor: pointer;
    opacity: 0.9;
}

.item img{
    width: 500px;
    padding: 5px;
    border-radius: 10px;
    height: 300px;
    
    
}
.item p{
    padding: 3px;
    margin-bottom: 10px;
}
.item h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }



/* BOTAO */
button{
    border: none;
    width: 190px;
    padding: 10px;
    border-radius: 4px;
    outline: none;
    background-color: white;
    transition: ease-out 0.3s;
    border: 3px solid lightblue;
    position: relative;
    z-index: 1;

    
}
button :hover{
   color: black;
   cursor: pointer;
}

button:before{
    transition: 0.5 all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color:lightblue;
}

button:hover:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

/* NEWSLETTER */
.newsletter {
    width: 100%;
    float: left;
    background-image: linear-gradient(to right, #17408B, rgb(7, 7, 179),
      rgb(30, 30, 245)
    
    );
    padding: 50px 8%;
}

.newsletter h3 {
    font-size: 1.8em;
    color: white;
}

.newsletter p {
    font-size: 1.2em;
    color: whitesmoke;
}

.newsletter form {
    width: 100%;
    margin-top: 10px;
    float: left;
     ;
}

.newsletter input {
    width: 20%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background-color: initial;
    color:white;
    box-shadow:2px 5px 5px rgb(236, 233, 233)
}
.newsletter ::placeholder{
    color: white;
}
.newsletter button{
    width: 17%;
    background-color: white;
    padding: 15px 10px;
    border-radius: 15px;
   
}
/* RODAPÉ */
.rodape{
    width: 100%;
    float: left;
    background-image: linear-gradient(to right, #17408B, rgb(7, 7, 179),
    rgb(30, 30, 245)
  
  );
    padding-inline-end: 25px 8%;
    
}
.rodape p{
    color:black;
}


/* DEIXANDO RESPONSIVO */
@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;    
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: slategrey;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;      
        line-height: 30px; 
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
} 