/* REST */
* {
    /* RESETANDO AS CONFIGURAÇÕES DO NAVEGADOR */
    margin: 0;
    /*espaçamento externo */
    padding: 0;
    /* espaçamento interto */
    font-size: 100%;
    /*tamanho da fonte*/
    font-family: 'Open Sans', sans-serif;
    /*estilo de fonte*/
    font-weight: normal;
    /* largura da fonte*/
    box-sizing: border-box;
    /* altera o tamnho das caixas como padrão*/
    border: none;
    /*retirando as bordas */
    outline: none;
    /*retirando os contornos*/

}

img {
    max-width: 100%;
    /*travando o tamanho da imagem */
}

ul {
    list-style: none;
    /*tirando os estilos da lista não ordenada*/
}

a {
    text-decoration: none;
    /*tirando as decorações do link*/
}

h2 {
    font-size: 1.5em;
    /*em é uma unidade relativa*/
    color: #333;
}

p {
    font-size: 1em;
    /*1em == 16px */
    color: #777;
}

/* CABEÇALHO */
.cabecalho {
    /* largura de uma ponta a outra */
    width: 100%;
    /* Faz com que as coisas sejam contruidas da esquerda para direita */
    float: left;
    /* espacamento interito para todos os lados */
    padding: 50px 8%;
    /* este 8% é o tamanho maximo que ele pode assumir */
    background-image: linear-gradient(to right, rgb(58, 58, 190), rgb(13, 13, 182));

}

.logo a {
    /* largura de 84px */
    width: 84px;
    /* altura de  97px */
    height: 97px;
    /* manda as coisas da esquerda para direita */
    float: left;
    background-image: url(../images/logo.jpeg);
    /* deixando a fonte invisivel */
    font-size: 0px;
    border-radius: 7px;
}

.cabecalho form {
    /* largura */
    width: 30%;
    /* flutuar a direita */
    float: right;
}

.cabecalho input[type="text"] {
    width: 85%;
    float: left;
    /* 15px em cima, 10px na direita e assim vai */
    padding: 15px 10px;
    /* arredondando as bordas */
    border-radius: 10px 0px 0px 10px;
}

.cabecalho button {
    width: 15%;
    float: right;
    padding: 15px 10px;
    border-radius: 0px 10px 10px 0px;
    background-image: linear-gradient(to bottom, rgb(3, 78, 139), rgb(7, 138, 199));
    color: white;
    cursor: pointer;
}

/* MENU */

.menu {
    width: 100%;
    float: left;
    background-color: #111;
    padding: 18px 8%;

}

.menu li {
    float: left;
}

.menu li a {
    color: #9d9d9d;
    margin-right: 25px;
}

.menu li a:hover {
    color: white;
    font-size: 1.2em;
}

/* SOCIAL ICONS */
.social-icons {
    float: right;
}

.social-icons a {
    color: white;
    float: left;
    margin-left: 20px;
}

.social-icons .fa-facebook-square:hover {
    color: #3b5998;
}

.social-icons .fa-twitter:hover {
    color: #1da1f2;
}

.social-icons .fa-instagram:hover {
    background-image: linear-gradient(to bottom, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

.social-icons .fa-google:hover {
    color: #4885ed;
}

.social-icons .fa-youtube:hover {
    color: red;
}

.social-icons .fa-linkedin:hover {
    color: #0077b5;
}

.social-icons .fa-envelope:hover {
    color: #BB001B;
}

/* PRINCIPAL */
.principal {
    width: 100%;
    float: left;
    /* tamanho maximo que ele ocupa 16px min 8% */
    padding: 16px 8%;
}

.sobre {
    width: 70%;
    float: left;
    padding: 0 20px 20px 0;
}

.sobre h2 {
    margin-bottom: 15px;

}

.sobre img {
    width: 50%;
    float: left;
    border-radius: 9px;
    margin: 0 15px 5px 0;
}

.sobre p {
    text-align: justify;
    size: 1.3em;
}

/* ONDE ESTAMOS SIDEBAR*/
.onde-estamos {
    width: 30%;
    float: right;
    /* 10 em cima 20 lateral */
    padding: 10px 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.onde-estamos h2 {
    margin-bottom: 5px;

    text-align: center;
}

.onde-estamos iframe {
    /* largura */
    width: 100%;
    height: 210px;
    margin: 20px 0;
    border-radius: 10px;
}

.onde-estamos li {
    color: #405de6;
    margin-bottom: 12px;
}

/* NEWSLETTER */
.newsletter {
    width: 100%;
    float: left;
    background-color: black;
    padding: 50px 8%;
}

.newsletter h3 {
    font-size: 1.8em;
    color: white;
}

.newsletter p {
    font-size: 1.2em;
    color: whitesmoke;
}

.newsletter form {
    width: 100%;
    margin-top: 10px;
    float: left;
     ;
}

.newsletter input {
    width: 40%;
    margin-right: 1%;
    padding: 15px 10px;
    border: 1px solid whitesmoke;
    border-radius: 3px;
    background-color: initial;
    color:rgb(101, 202, 248);
    box-shadow:10px 5px 5px rgb(236, 233, 233)
}
.newsletter ::placeholder{
    color: white;
}
.newsletter button{
    width: 17%;
    background-color: white;
    padding: 15px 10px;
    border-radius: 15px;
    background-color: white;
}
/* RODAPÉ */
.rodape{
    width: 100%;
    float: left;
    background-color: rgba(13, 13, 236, 0.788);
    padding-inline-end: 25px 8%;
    
}
.rodape p{
    color: blue;
}